{% extends 'co/cobase.html' %}

{% block content %}

{% load static %}

<div class="card">
    <div class="card-header">
      <h3 class="card-title">Data table for case status report:</h3>
      {% if perms.auth.add_casestatus %}
      <a href="{% url 'addcasestatus_url' %}" class="btn btn-primary float-right">
        Add Case Status:
      </a>
      {% endif %}
    </div>
    <!-- /.card-header -->
    <div class="card-body">
      <table id="example1" class="table table-bordered table-striped">
        <thead>
        <tr>
          <th>CASE_NO</th>
          <th>DATE TIME</th>
          <th>CONTACT</th>
          <th>DESCRIPTION</th>
          <th>VIEW</th>
        </tr>
        </thead>
        <tbody>
        {% for status in statuslist %}
        <tr>
          <td>{{status.caseassignment}}</td>
          <td>{{status.datetime}}</td>
          <td>{{status.contact}}</td>
          <td>{{status.description}} </td>
          <td>
            <a href="{% url 'casestatusview_url' status.id %}" class="fa fa-eye" title="View Case Status."></a>
          </td>
        </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
          <th>CASE NAME</th>
          <th>DATE TIME</th>
          <th>CONTACT</th>
          <th>DESCRIPTION</th>
          <th>VIEW</th>
        </tr>
        </tfoot>
      </table>
    </div>
    <!-- /.card-body -->
  </div>

{% endblock content %}